body {
  overflow: hidden;
}
.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;

  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0,
    radial-gradient(circle closest-side, #ffffff 53%, rgba(255, 255, 255, 0) 0)
      0 0,
    radial-gradient(circle closest-side, #ffffff 50%, rgba(255, 255, 255, 0) 0)
      55px 0 #48b;
  background-size: 110px 200px;
  background-repeat: repeat-x;
}

.App-header {
  margin: 40px auto;
  background: linear-gradient(
    rgba(238, 85, 0, 1) 35%,
    rgb(255, 255, 255) 20% 97%,
    #48b 97% 100%
  );
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 0em;
  padding: 0;
  font-size: calc(10px + 2vmin);
  border-radius: 13% 0;
  color: rgb(255, 255, 255);
  text-align: left;
  width: 55%;
  min-height: 60%;
  box-shadow: 10px 10px 10px rgb(93, 93, 93), -5px 10px 10px rgb(93, 93, 93);
  /* clip-path: circle(25% at 20% 30%); */
  /* transition: clip-path 0.5s ease-in-out; */
}
.App-header:hover {
  clip-path: circle(100%);
}

button {
  width: 100px;
  height: 30px;
  font-size: 13px;
  align-self: center;
  margin-left: auto;
  margin-right: 10%;
  margin-bottom: 5px;
  margin-top: auto;
  border-radius: 5px;
  padding: 20px, 10px;
  background-color: #e50;
  color: white;
}
button:active {
  background-color: rgb(255, 255, 255);
  color: #48b;
}

.question {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 10px;
}

.heading {
  display: flex;
  margin: 0 auto;
  color: #48b;
  text-shadow: 1px 2px rgb(211, 198, 198);
  text-shadow: 1px -2px rgb(12, 12, 12);
  align-items: center;
  /* background-color: gray; */
}
.heading::before,
.heading::after {
  content: "";
  margin: 0.2rem;
  flex: 1;
  border: solid gray;
  height: 1em;
  background: linear-gradient(to bottom, orange, white);
  border-width: 0.05em 0;
}

form {
  height: 100%;
  flex-grow: 2;
  margin-bottom: 0em;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 0;
  background-color: rgb(64, 208, 221);
}

@media only screen and (max-width: 600px) {
  .App-header {
    margin-top: 50px;
    width: 70%;
    min-height: 55%;
  }
  button {
    width: 80px;
    height: 30px;
    font-size: small;
  }
}
@media only screen and (max-height: 400px) {
  body {
    overflow: auto;
  }
}

/* .secret{
  background: black;
  color:white;
  mix-blend-mode: multiply;
  
  font-size:xx-large;
  
}
@keyframes march{
  to{stroke-dashoffset: -15px; }
} */

.dashSecret {
  stroke: indianred;
  stroke-width: 4px;
  fill: none;
  stroke-dasharray: 10px 5px;
  height: 100px;
  width: 200px;
  stroke-dashoffset: -10px;
  animation: march 1s infinite;
  mask-repeat: repeat;
}
