body{
  overflow: hidden;
}
.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  
background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
background-size: 110px  200px;
background-repeat: repeat-x;
}

.App-header {
  margin: 40px auto;
  background: linear-gradient( rgba(238, 85, 0, 0.9) 35%, rgb(255, 255, 255) 20% 97% , #48b 97% 100% );
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 0em;
  padding: 0;
  font-size: calc(10px + 2vmin);
  border-radius: 13% 0 ;
  color: rgb(255, 255, 255);
  text-align: left;
  width: 55%;
  min-height: 60%;
  box-shadow: 10px 10px 10px rgb(93, 93, 93), -5px 10px 10px rgb(93, 93, 93);
}

button{
  width: 100px;
  height: 30px;
  font-size: 13px;
  align-self: center;
  margin-left: auto;
  margin-right: 10%;
  margin-bottom: 5px;
  margin-top: auto;
  border-radius: 5px;
  padding: 20px, 10px;
  background-color: #e50;
  color: white;
}
button:active{
  background-color: rgb(255, 255, 255);
  color: #48B;
}

.question{
  margin-top: 35px ;
  margin-left: 20px;
  margin-right: 10px;
}

.heading{
  margin: 0 auto;
  color: #e50;
  text-shadow: 1px 2px black;
  /* background-color: gray; */

}
form{
  height: 100%;
  flex-grow: 2;
  margin-bottom: 0em;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 0;
  background-color: #48b;
}

@media only screen and (max-width: 600px) {
  .App-header {
    width: 70%;
    min-height: 65%;
  }
  button{
    width: 80px;
    height: 30px;
    font-size: small;
  }
  
}
@media only screen and (max-height: 400px){
  body{
    overflow: auto;
  }
  
}